:root {
    --background-color: #fff;
    --text-color: #000;
    --button-background: #f6f8fa;
    --button-text-color: #333;
    --primary-color: #0969da;
    --secondary-color: #40c463;
    --textarea-color : #fff;
    --message-color :  #dcf8c6;
}

body.dark-mode {
    --background-color: black;
    --text-color: #fff;
    --button-background: #000;
    --button-text-color: #fff;
    --primary-color: #40c463;
    --secondary-color: #0969da;
    --textarea-color : #111;
    --message-color : #0969da;

}

* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    user-select: none;
}

body {
    transition: color 0.5s, background-color 0.5s;
    background-color: var(--background-color);
    color: var(--text-color);
}

.sunIcon {
    display: none;
}

.moonIcon {
    display: inline;
}



.container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 40px auto;
}

.special {
    text-align: center;
    font-size: 50px;
    line-height: 52px;
    letter-spacing: -1.5px;
    font-family: 'Manrope', sans-serif;
    margin-bottom: -20px;
}

.icons {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.text-area {
    background-color: var(--button-background);
    border: 0;
    padding: 15px;
    font-size: 25px;
    margin: 10px 0;
    margin-top: 40px;
    height: 160px;
    flex-shrink: 0;
}

.CodeMirror.cm-s-paper.CodeMirror-wrap{
    padding: 0% !important;
}
.CodeMirror.cm-s-paper.CodeMirror-wrap.CodeMirror-empty{
    padding: 0% !important;
}

.CodeMirror.cm-s-paper.CodeMirror-wrap.CodeMirror-focused{
    padding: 0% !important;
}

.CodeMirror-scroll {
    background-color: var(--textarea-color);
    color: var(--text-color);

}

textarea::placeholder {
    color: var(--text-color);
    font-size: larger;
}

#name-input{
    padding: 10px;
    width: fit-content;
    margin-bottom: 20px;
    border:1px solid grey;
    font-size: larger;
    background-color: var(--background-color);
    color: var(--text-color);
}

button {
    color: var(--button-text-color);
    background-color: var(--primary-color);
    border: 0;
    padding: 15px;
    font-size: 50px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    transition: background-color 0.2s ease-in;
}

button:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
}

.scrollable-container {
    max-height: 550px;
    overflow-y: auto;
}

.scrollable-container::-webkit-scrollbar {
    display: none;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    transition: all ease-in 0.7s;
    z-index: 2;
}

.popup-content {
    background-color: var(--background-color);
    padding: 30px;
    border-radius: 8px;
    width: 67%;
    height: auto;
}

.popup-content i {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    font-size: 30px;
    cursor: pointer;
}

.popup-content p {
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
    line-height: 2;
}

.popup-content p a {
    text-decoration: underline;
}

.close-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}

.message-date {
    background-color: var(--primary-color);
}

.editor-toolbar {
    margin-top: 50px;
    background-color: white;
    color: var(--text-color);
}

/* Markeddown global styling */

.markdown-container p,
.markdown-container h1,
.markdown-container h2,
.markdown-container h3,
.markdown-container h4,
.markdown-container h5,
.markdown-container h6,
.markdown-container a,
.markdown-container pre,
.markdown-container code,
.markdown-container blockquote,
.markdown-container strong,
.markdown-container em {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.markdown-container strong {
    font-weight: bold;
}

.markdown-container em {
    font-style: italic;
}

.markdown-container h1 {
    text-align: left;
}

.markdown-container ul,
.markdown-container ol {
    list-style-type: disc;
    line-height: 1.5;
    margin-left: 20px;
}

.outside-li ul,
.outside-li ol {
    margin-left: 40px;
}

.markdown-container ul li,
.markdown-container ol li {
    margin-top: 10px;
    background-color: var(--primary-color);
}

#container-el {
    list-style: none;
    display: flex;
    flex-direction: column-reverse;
}

#container-el p {
    word-wrap: break-word;
}

#container-el a {
    color: var(--text-color);
}

.message-item {
    margin-bottom: 10px;
}

.sender-name {
    font-weight: bold;
    color: var(--primary-color);
}

.message-bubble {
    background-color: var(--message-color);
    padding: 10px;
    font-size: 30px;
    word-wrap: break-word;
}

.message-timestamp {
    background-color: var(--message-color);
    font-size: 15px;
    color: var(--text-color);
    padding: 10px;
}

.outside-li {
    margin-top: 10px;
    padding: 15px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    border: none;
    font-size: 30px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--text-color);
}

@media only screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }

    .container {
        width: 380px;
    }

    button,
    .text-area,
    ul li {
        font-size: 20px;
    }

    .popup-content {
        height: auto;
    }

    .popup-content p {
        font-size: 15px;
    }

    .message-bubble{
        font-size: 15px;
    }

    #name-input{
        width: 358px;
    }
}